@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Webkit browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: theme('colors.eerie_black.600');
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: theme('colors.black_olive.600');
  border-radius: 10px;
  border: 2px solid theme('colors.eerie_black.600');
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: theme('colors.black_olive.700');
}

/* Custom Scrollbar for thin textareas */
.custom-scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar-thin::-webkit-scrollbar-track {
  background: theme('colors.eerie_black.700');
  border-radius: 10px;
}

.custom-scrollbar-thin::-webkit-scrollbar-thumb {
  background: theme('colors.black_olive.700');
  border-radius: 10px;
  border: 1px solid theme('colors.eerie_black.700');
}

.custom-scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: theme('colors.black_olive.800');
}

/* Basic animation for the bot icon */
@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite ease-in-out;
}
